kind: Deployment
apiVersion: apps/v1
metadata:
  name: todo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: todo
        image: divyashukla23/todo
        ports:
        - containerPort: 83
